<div class="row" style="padding-top:20px;">
  <div class="col-md-6">
    <div class="card">
      <h4 class="card-header">
        Sign up for Mr. Whiskers' mewsletter!
      </h4>
      <form>
        <div class="card-block">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="fifibeauxregard@catfancy.com">
            <small id="emailHelp" class="form-text text-muted">You'll never be able to unsubscribe!</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Champer Damper's favorite pastime">
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              Tell me more about kitteh kismet.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              Tell me more about <a href="https://youtu.be/TnZhi5gaX8g" target="_blank">Cat Massage</a>.
            </label>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>